:root {
    --white: hsl(0, 0%, 100%); 
    --light-gray: hsl(212, 45%, 89%); 
    --grayish-blue: hsl(220, 15%, 55%); 
    --dark-blue: hsl(218, 44%, 22%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--light-gray);
    font-family: 'Outfit', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 1px);
}
.attribution {
    margin-top: 1rem;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.card {
    width: 320px;
    height: 500px;
    background-color: var(--white);
    border-radius: 1.25rem;
}

.card .qr-container > img{
    width: 288px;
    height: 288px;
    border-radius: 0.625rem;
    margin: 1rem 1rem;
}

.card h1 {
    color: var(--dark-blue);
    margin: 0 1rem;
    padding: 0.25rem 1rem;
    font-size: 1.375rem;
    font-weight: 700;
    text-align: center;
}

.card p {
    color: var(--grayish-blue);
    margin: 0.938rem 1rem;
    padding: 1rem;
    font-size: 0.938rem;
    font-weight: 400;
    text-align: center;
}
