* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    min-width: 375px;
}

.card {
    width: 324px;
    height: 500px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
}

.card .qr-container > img{
    width: 288px;
    height: 288px;
    border-radius: 10px;
    margin: 16px 16px;
}

.card h1 {
    color: hsl(218, 44%, 22%);
    margin: 0 16px;
    padding: 0 16px;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}

.card h2 {
    color: hsl(212, 45%, 89%);
    margin: 0 16px;
    padding: 16px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}